body { font-size: 16px; color: #212529; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

p { line-height: 1.5; margin: 30px 0; }

h1, h2, h3, h4, h5, h6 { font-weight: 600; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

@media only screen and (max-width: 991px) { h1, h2, h3, h4, h5, h6 { word-break: break-all; } }

li { margin-top: 0.25rem; }

a { color: #2664c1; word-wrap: break-word; word-break: break-all; }

img { max-width: 100%; }

blockquote { font-style: italic; color: #6c757d; }

.section-heading { font-size: 36px; font-weight: 700; margin-top: 60px; }

.caption { font-size: 14px; font-style: italic; display: block; margin: 0; padding: 10px; text-align: center; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }

::-moz-selection { color: #fff; background: #007bff; text-shadow: none; }

::selection { color: #fff; background: #007bff; text-shadow: none; }

img::selection { color: #fff; background: transparent; }

img::-moz-selection { color: #fff; background: transparent; }

#mainNav { position: absolute; background-color: #103154; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

#mainNav .navbar-brand { font-weight: 800; color: #fff; }

#mainNav .navbar-toggler { font-size: 12px; font-weight: 800; padding: 13px; text-transform: uppercase; color: #fff; }

#mainNav .navbar-nav > li.nav-item > a { font-size: 12px; font-weight: 800; letter-spacing: 1px; text-transform: uppercase; color: #fff; }

@media only screen and (min-width: 992px) { #mainNav { border-bottom: 1px solid transparent; background: transparent; }
  #mainNav .navbar-brand { padding: 10px 0; color: #fff; }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover { color: rgba(255, 255, 255, 0.8); }
  #mainNav .navbar-nav > li.nav-item > a { padding: 10px 0; color: #fff; }
  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover { color: rgba(255, 255, 255, 0.8); } }

@media only screen and (min-width: 992px) { #mainNav { -webkit-transition: background-color 0.2s; -moz-transition: background-color 0.2s; transition: background-color 0.2s; /* Force Hardware Acceleration in WebKit */ -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-backface-visibility: hidden; }
  #mainNav.is-fixed { /* when the user scrolls down, we hide the header right above the viewport */ position: fixed; top: -67px; -webkit-transition: -webkit-transform 0.2s; -moz-transition: -moz-transform 0.2s; transition: transform 0.2s; background-color: rgba(16, 49, 84, 0.95); backdrop-filter: blur(8px); }
  #mainNav.is-fixed .navbar-brand { color: #fff; }
  #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover { color: #007bff; }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a { color: #fff; }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover { color: #007bff; }
  #mainNav.is-visible { /* if the user changes the scrolling direction, we show the header */ -webkit-transform: translate3d(0, 100%, 0); -moz-transform: translate3d(0, 100%, 0); -ms-transform: translate3d(0, 100%, 0); -o-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); } }

header.masthead { margin-bottom: 50px; background: no-repeat center center; background-color: #6c757d; background-attachment: scroll; position: relative; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

header.masthead .overlay { position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-color: #212529; opacity: 0.5; }

header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading { padding: 100px 0 50px; color: white; }

@media only screen and (min-width: 768px) { header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading { padding: 100px 0; } }

header.masthead .page-heading, header.masthead .site-heading { text-align: center; }

header.masthead .page-heading h1, header.masthead .site-heading h1 { font-size: 50px; margin-top: 0; }

header.masthead .page-heading .subheading, header.masthead .site-heading .subheading { font-size: 24px; font-weight: 300; line-height: 1.1; display: block; margin: 10px 0 0; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

@media only screen and (min-width: 768px) { header.masthead .page-heading h1, header.masthead .site-heading h1 { font-size: 80px; } }

header.masthead .post-heading h1 { font-size: 35px; }

header.masthead .post-heading .meta, header.masthead .post-heading .subheading { line-height: 1.1; display: block; }

header.masthead .post-heading .subheading { font-size: 24px; font-weight: 600; margin: 10px 0 30px; }

header.masthead .post-heading .meta { font-size: 20px; font-weight: 300; }

header.masthead .post-heading .meta a { color: #fff; }

@media only screen and (min-width: 768px) { header.masthead .post-heading h1 { font-size: 55px; }
  header.masthead .post-heading .subheading { font-size: 30px; } }

.post-preview > a { color: #212529; }

.post-preview > a:focus, .post-preview > a:hover { text-decoration: none; color: #007bff; }

.post-preview > a > .post-title { font-size: 30px; margin-top: 30px; margin-bottom: 10px; }

.post-preview > a > .post-subtitle { font-weight: 300; margin: 0 0 10px; }

.post-preview > .post-meta { font-size: 18px; font-style: italic; margin-top: 0; color: #6c757d; }

.post-preview > .post-meta > a { text-decoration: none; color: #212529; }

.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover { text-decoration: underline; color: #007bff; }

@media only screen and (min-width: 768px) { .post-preview > a > .post-title { font-size: 36px; } }

#content h2, #content .h2 { font-size: 2rem; margin-top: 2rem; border-bottom: 1px solid #ccc; padding: 1rem 0; margin-bottom: 1.25rem; }

#content h2:first-child, #content .h2:first-child { margin-top: 0; }

#content h3, #content .h3 { font-size: 1.25rem; margin-top: 1.25rem; padding-top: 1.25rem; }

#content h3 + p > a, #content .h3 + p > a { display: inline-block; margin-top: -0.25rem; font-size: 1rem; }

#content h2 + h3, #content h2 + .h3, #content .h2 + h3, #content .h2 + .h3 { border-top: none; padding-top: 0; }

.floating-label-form-group { font-size: 14px; position: relative; margin-bottom: 0; padding-bottom: 0.5em; border-bottom: 1px solid #dee2e6; }

.floating-label-form-group input, .floating-label-form-group textarea { font-size: 1.5em; position: relative; z-index: 1; padding: 0; resize: none; border: none; border-radius: 0; background: none; box-shadow: none !important; font-family: 'Lora', 'Times New Roman', serif; }

.floating-label-form-group input::-webkit-input-placeholder, .floating-label-form-group textarea::-webkit-input-placeholder { color: #6c757d; font-family: 'Lora', 'Times New Roman', serif; }

.floating-label-form-group label { font-size: 0.85em; line-height: 1.764705882em; position: relative; z-index: 0; top: 2em; display: block; margin: 0; -webkit-transition: top 0.3s ease, opacity 0.3s ease; -moz-transition: top 0.3s ease, opacity 0.3s ease; -ms-transition: top 0.3s ease, opacity 0.3s ease; transition: top 0.3s ease, opacity 0.3s ease; opacity: 0; }

.floating-label-form-group .help-block { margin: 15px 0; }

.floating-label-form-group-with-value label { top: 0; opacity: 1; }

.floating-label-form-group-with-focus label { color: #007bff; }

form .form-group:first-child .floating-label-form-group { border-top: 1px solid #dee2e6; }

footer { padding: 50px 0 65px; }

footer .list-inline { margin: 0; padding: 0; }

footer .copyright { font-size: 14px; margin-bottom: 0; text-align: center; }

.btn { font-size: 14px; font-weight: 800; padding: 15px 25px; letter-spacing: 1px; text-transform: uppercase; border-radius: 0; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.btn-primary { background-color: #007bff; border-color: #007bff; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active { color: #fff; background-color: #0069d9 !important; border-color: #0069d9 !important; }

.btn-lg { font-size: 16px; padding: 25px 35px; }

header.masthead { background-color: #003e80; background-repeat: no-repeat; background-origin: padding-box; background-size: cover; background-attachment: scroll; background-position: center center; }

header.masthead .subheading { line-height: 1.6 !important; }

header.masthead *, header.masthead .post-heading * { text-shadow: 0 0 80px rgba(0, 0, 0, 0.8); }

footer { padding: 20px 0; line-height: 1em; }

hr.background--light { border-color: #000 !important; }

.btn.background--light { color: initial !important; }

.btn { margin-bottom: 6px; }

.btn-sm { font-size: 12px; padding: 5px 10px; }

.btn-xs { font-size: 12px; padding: 1px 5px; }

.right-border { border-right: 1px solid #eeeeee; }

p { margin: 0 0 1rem 0; }

.sidebar li { margin-bottom: 8px; }

.post-title { margin-bottom: 0; word-break: break-word; }

.post-subtitle { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 1.5rem; }

.post-list > a { color: #333333; }

.post-list > a:hover, .post-list > a:focus { text-decoration: none; color: #337ab7; }

.post-list > a > .post-title { margin-top: 10px; margin-bottom: 6px; }

.post-list > a > .post-subtitle { margin: 0; font-weight: 300; margin-bottom: 6px; }

.post-list > .post-meta { color: #777777; font-size: 16px; font-style: italic; margin-top: 0; }

.post-list > .post-meta > a { text-decoration: none; color: #333333; }

.post-list > .post-meta > a:hover, .post-list > .post-meta > a:focus { color: #337ab7; text-decoration: underline; }

.post-heading { word-break: break-word; }

.post-heading .subheading { margin-bottom: 0; }

.post-heading .meta { margin-top: 30px; }

.post-heading .tags { margin-top: 30px; }

.post-heading .tags .btn { border-color: #222222; }

.panel .table pre { margin: 0px; border: none; border-top-left-radius: 0px; border-top-right-radius: 0px; }

.badge { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

/* Awsome same-height Bootstrap columns from http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height */
/* vertical alignment styles */
.col-top { vertical-align: top; }

.col-middle { vertical-align: middle; }

.col-bottom { vertical-align: bottom; }

/* columns of same height styles */
.container-xs-height { display: table; padding-left: 0px; padding-right: 0px; }

.row-xs-height { display: table-row; }

.col-xs-height { display: table-cell; float: none; }

@media (min-width: 768px) { .container-sm-height { display: table; padding-left: 0px; padding-right: 0px; }
  .row-sm-height { display: table-row; }
  .col-sm-height { display: table-cell; float: none; } }

@media (min-width: 992px) { .container-md-height { display: table; padding-left: 0px; padding-right: 0px; }
  .row-md-height { display: table-row; }
  .col-md-height { display: table-cell; float: none; } }

@media (min-width: 1200px) { .container-lg-height { display: table; padding-left: 0px; padding-right: 0px; }
  .row-lg-height { display: table-row; }
  .col-lg-height { display: table-cell; float: none; } }
