// Global styling for this template
body {
  font-size: 16px;
  color: $gray-900;
  @include sans-serif-font;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  @include sans-serif-font;
}

h2, .h2 {
  font-size: 2rem;
  margin-top: 2rem;
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
  margin-bottom: 1.25rem;

  &:first-child {
    margin-top: 0;
  }
}

h3, .h3 {
  font-size: 1.25rem;

  margin-top: 1.25rem;
  padding-top: 1.25rem;

  + p {
      > a {
          display: inline-block;
          margin-top: -0.25rem;
          font-size: 1rem;
      }
  }
}
h2, .h2 {
  + h3,
  + .h3 {
    border-top: none;
    padding-top: 0;
  }
}

li {
  margin-top: 0.25rem;
}

a {
  color: #2664c1;
  word-wrap: break-word;
  word-break: break-all;
}

img {
  max-width: 100%;
}

blockquote {
  font-style: italic;
  color: $gray-600;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}
